[2015-07-15 22:45] yaronyg opened #1 "Class names need to be cleaned up"
Everything is called "BT" even when we are using wifi and soon we will be adding in BLE.

[2015-07-15 23:04] yaronyg opened #2 "Remove aescrypt"
This is no longer needed.

[2015-07-16 05:48] DrJukka commented on #2
done

[2015-07-16 05:49] #2 closed, assigned to DrJukka

[2015-08-15 18:19] yaronyg opened #3 "Fix the bluetooth race condition"
Please create a story_0 branch and please submit a PR with the fixes to that branch.

[2015-08-18 07:17] DrJukka commented on #3
done

[2015-08-18 07:17] #3 closed, assigned to DrJukka

[2015-08-26 13:11] DrJukka opened #7 "Interface naming, usage & placement needs to be changed"
We need to change the Callback-interface to be named something more specific.

We need to implement the interface outside the class definition for the plugin entry point

We should re-use the interfaces, and remove any interfaces that implement similar functionality.

[2015-08-27 16:41] yaronyg opened #8 "Publish new release of btlibrary to maven"

[2015-08-28 10:56] DrJukka commented on #8
released as 0.0.1

[2015-08-28 10:56] #8 closed, assigned to DrJukka

[2015-10-15 21:01] yaronyg opened #9 "Working around slow BLE scanning"
There is a bug (see [here](https://code.google.com/p/android/issues/detail?id=82463)) in Android that causes BLE scans to take up to 15 seconds. For background work that is fine. But imagine two people pull out the postcard app and expect to start talking immediately. It a'int gonna happen if they have to wait 15 seconds before even discovering each other!

The thread I linked to contains a potent

[2015-10-15 21:33] yaronyg commented on #9
Have we experimented with putting the peripheral in different power modes to see how that drives discovery? When the app is active it should probably be high power. But do we actually know if this makes any real difference? Certainly the BLE spec strongly implies it should since it should affect things like advertising intervals.

[2015-11-03 22:45] yaronyg opened #11 "Bluetooth address format for peer discovery and service discovery appear different"
When we look at Logcat and we see devices listed for peer discovery with their Bluetooth address and then we look at the addresses in JSONLINE for service discovery the addresses never match. That is, the addresses we see in JSONLINE are NEVER the ones listed in peer discovery's logcat output. I'm guessing this is because we are somehow serializing the addresses differently. We need this fixed ASA

[2015-11-04 09:07] DrJukka commented on #11
"peerIdentifier":"08:EC:A9:50:76:27" is the address that is advertised, I would also be using it to connect to the peer over the Bluetooth, and as far as I know its the one that I get when I ask the bluetooth address via the API.

Where's the JSONLINE and how do we get the addresses shown in there ?

[2015-11-04 09:47] DrJukka commented on #11
Did quick test with 3 Nexus 5 devices.
- InstanceString is the string devices create and start advertising.
- Found Service & JsonLine are logs from plugin library level
- peerAvailabilityChanged is log from node.js (callback for ThaliEmitter.events.PEER_AVAILABILITY_CHANGED)

Below is snippeds from logs during the test, all values are matching in all stages, thus I suppose the question is which i

[2015-11-04 15:43] yaronyg commented on #11
This is Yaron's screw up. The peer identifier is, of course, the wi-fi direct address which then leads to service discovery only at which point can we get the bluetooth address which is why they don't match. So what we need to do is to publish in the service discovery the wi-fi address that we did the discovery with so we can match with the peer discovery and know which peer we are connected to.

[2015-11-05 15:24] DrJukka opened #12 "Fix Incoming Bluetooth connections handshake"
with listeningn: https://github.com/thaliproject/Thali_CordovaPlugin_BtLibrary/blob/master/BtConnectorLib/btconnectorlib2/src/main/java/org/thaliproject/p2p/btconnectorlib/BTListenerThread.java

There can be only one incoming handshake active at any given time. This should be changed to handle multiple handshake with array

[2015-11-06 09:42] DrJukka commented on #12
initial implementation can be found from: https://github.com/thaliproject/Thali_CordovaPlugin_BtLibrary/tree/story_001 needs testing for verifyinf that it works.

[2015-11-09 15:47] #11 closed, assigned to DrJukka

[2015-11-09 16:14] yaronyg opened #13 "We need to log our unhandled exceptions"
We have an unhandled exception handler that isn't currently logging before passing the exception along. We need to fix that.

[2015-11-10 13:42] DrJukka commented on #12
Tested the implementation with 5 devices, and Created PR.

[2015-11-10 16:00] yaronyg commented on #12
Needs to publish this to bin tray and then create a fake pr in thali_cordovaplugin so we can test the fix in CI.

[2015-11-10 16:07] yaronyg opened #15 "Please review BT Plugin Code"

[2015-11-11 13:24] tompaana commented on #15
Some notes of BtConnectorLib review:
- Coding conventions not followed, especially naming needs a lot of work
  - Naming should be both meaningful and consistent
- Java doc missing
- Tags for logging missing
  - private static final String TAG = `<class name>`.class.getName();
- Use log.e instead of printStackTrace
- Order of things: new data types, constants, members, methods (public, protected,

[2015-11-11 16:01] yaronyg commented on #12
Was blocked on CI not working but has code review.

[2015-11-11 16:07] #15 closed, assigned to tompaana

[2015-11-11 17:04] yaronyg commented on #15
@tompaana Please file bugs for these issues as they are all technical debt.

[2015-11-12 11:56] tompaana commented on #13
Review against story_001 branch here: https://github.com/thaliproject/Thali_CordovaPlugin_BtLibrary/compare/story_001...story_001_tomi

[2015-11-12 15:58] yaronyg commented on #13
Needs to test this and then can do a PR

[2015-11-12 15:59] yaronyg commented on #13
Needs to test this and then can do a PR

[2015-11-12 19:38] yaronyg commented on #13
Can you please resolve the merge conflict and submit this as a PR?

[2015-11-17 15:02] tompaana opened #17 "Handle technical dept"
- Coding conventions not followed, especially naming needs a lot of work
  - Naming should be both meaningful and consistent
- Java doc missing
- Tags for logging missing
  - private static final String TAG = `<class name>`.class.getName();
- Use log.e instead of printStackTrace
- Order of things: new data types, constants, members, methods (public, protected, private)
- Favour single points of re

[2015-11-17 15:03] tompaana commented on #7
Duplicate of #17

[2015-11-17 15:04] tompaana commented on #1
Duplicate of #17

[2015-11-18 10:56] vjrantal commented on #12
Merged to `master` and released to Bintray.

[2015-11-18 10:56] #12 closed, assigned to DrJukka

[2015-11-26 14:17] tompaana opened #18 "Improve WifiServiceWatcher (peer discovery) reliability"
WifiServiceWatcher class has reliability issues. For instance, peers are no longer accepted, if service discovery (for already found peers) is running. This needs to be fixed. This issue can be addressed once #17 is fixed.

Thoughts:
- Peer discovery and service discovery are two different things - perhaps we should separate them so that each has a class of its own (service watcher would use peer

[2015-11-26 14:20] tompaana opened #19 "Implement native test app for this library"
Testing changes to this library is currently extremely tedious labor. A native test app is required to fasten the development and bug fixing.

[2015-11-30 16:42] yaronyg commented on #17
This is done, pending review

[2015-11-30 16:43] yaronyg commented on #13
#17 will take care of this

[2015-12-01 23:22] #1 closed, assigned to DrJukka

[2015-12-01 23:22] #13 closed, assigned to tompaana

[2015-12-02 14:37] #17 closed, assigned to tompaana

[2015-12-02 14:38] tompaana commented on #7
All taken care of by #17

[2015-12-03 12:31] yonahforst opened #21 "error on connect "read failed, socket might closed or timeout""
Hey guys! I've been following along the Thali blog and @DrJukka's articles trying to implement p2p on android. I stumbled across this library and almost cried; it's an answer to my prayers.

I'm not sure if you guys are ready to accept issues from the public, so if not feel free to shut me down.

I added the library to an empty app to test it out: https://github.com/joshblour/P2pBleTest

the main

[2015-12-03 12:45] tompaana commented on #21
Hiya,

You might wanna try using a fixed UUID in your app (so that it's the same for both peers). Currently, it's random: `mConnectionManager = new ConnectionManager(this, mConnectionManagerListener, UUID.randomUUID(), "Yonah1", "_myservice._tcp");`

Wi-Fi Direct based peer discovery is not reliable and it is a known issue. I'll try to improve it, but I'm also adding BLE based peer discovery, whic

[2015-12-03 12:54] yonahforst commented on #21
Hey Tomi! That did the trick! thank you so much.

[2015-12-03 12:54] #21 closed, assigned to nobody

[2015-12-03 12:59] tompaana commented on #21
No worries, thanks for testing! Looks like I have to make sure that the requirement of using a fixed UUID is clearly documented.

[2015-12-04 10:04] vjrantal opened #22 "Several connection failures when many devices around"
In the CI results, we can see that there are many failures during which something like this is printed to logcat:

[code]

In fact, during [one run](https://github.com/ThaliTester/TestResults/tree/51986340441e256_CI_TEST_-_DO_NOT_MERGE_vjrantal/), this was seen quote a few times:

[code]

The proposal is to try to apply similar workaround than what was discussed at https://bugreports.qt.io/browse/

[2015-12-04 10:09] vjrantal opened #23 "Implement a proper queue for handling BT handshakes"
This PR https://github.com/thaliproject/Thali_CordovaPlugin_BtLibrary/pull/14 enabled multiple handshakes to be handled simultaneously. It has been a question mark can this make the overall BT connection process more unreliable in case of many devices.

An improvement that could be tried out would be to implement a proper queue to handle the handshakes.

[2015-12-04 10:31] vjrantal opened #24 "Sending larger amount of data between two devices fails"
When I run the data sending performance test locally between two devices and configure the sent data amount to be 10 megs, the test tends to fail. Here https://gist.github.com/vjrantal/1851a2e19b32da86e6da is a clip from the logs that might (or might not) be useful.

What I am wondering is that could this fail, because the other peer starts sending big amount of data that takes longer time and at

[2015-12-04 18:19] yaronyg commented on #24
I have been wondering if we could re-use connections myself We absolutely will have all of the infrastructure needed to make this happen at the node.js layer since we have to do exactly this for iOS. Also it looks like BlueZ limits connections (at least as of KitKat) to 7 or 8 simultaneously connections (I suspect directly doesn't matter). So if we can re-use connections to send data in both direc

[2015-12-05 17:13] tompaana commented on #24
This issue should be in [Thali CordovaPlugin project](https://github.com/thaliproject/Thali_CordovaPlugin), not here.

[2015-12-05 17:17] tompaana commented on #22
Implemented. Ready for review.

[2015-12-07 10:16] vjrantal commented on #24
It is technically possible to address the issue either in the native layer (Java in this case) or node layer.

I am currently thinking that due to the "evented-nature" of the node API, it might not be easy to implement this in the node layer in a bullet-proof way and to prevent that never ever BT connection is not tried out to a peer that is already connected. However, I might be wrong and this re

[2015-12-08 16:10] #22 closed, assigned to tompaana

[2015-12-08 17:17] vjrantal commented on #22
@tompaana: Can you paste here a link to CI results where the fixes are in action in a data sending performance test?

[2015-12-15 10:30] #24 closed, assigned to tompaana

[2015-12-15 10:33] tompaana opened #27 "Add setters/getters to main interface to allow changing the properties from CordovaPlugin"
Currently whenever we want to tweak the behavior of this library, we have to make changes to the source and upload the binaries to Bintray in order to test them in CI. It would be easier to have setters (and getters) in the main interface that we could use to modify the behavior in CordovaPlugin code without having to make changes to the library.

[2015-12-15 10:46] tompaana commented on #27
In addition, we need to be pre-emptive when limiting the number of connections and stop listening for incoming connection _before_ we exceed the max number of connections.

[2015-12-15 14:55] #27 closed, assigned to tompaana

[2015-12-16 10:09] #19 closed, assigned to tompaana

[2015-12-18 16:04] tompaana opened #30 "Improve the native test app and fix issues found"
The native test app needs work and is, for instance, missing settings for dynamic testing. While implementing this, fix any issues found in the library.

[2016-01-05 15:07] tompaana commented on #9
With proper power settings (see AdvertiseMode and ScanMode), this issue goes away. Thus, closing. Reopen if the issue manifests itself again.

[2016-01-05 15:07] #9 closed, assigned to tompaana

[2016-01-07 01:40] yaronyg opened #32 "Can we use setCallbackType to improve Android BLE battery usage?"
In Marshmallow the new setCallbackType() method lets you specify how the system should give callback when we are looking for via a ScanFilter. Google says this allows more energy efficient behavior. We need to investigate.

[2016-01-07 01:45] yaronyg opened #33 "Should we be using NetworkRequest.Builder to find when Bluetooth and WiFi Transports are available?"
We need to know when we have Bluetooth or WiFi availability. Lollipop introduced ConnectivityManager and NetworkRequest.Builder to get notified when networks with Bluetooth or Wifi are available. Should we use them to figure out when the networks we need are around?

[2016-01-07 09:32] #30 closed, assigned to tompaana

[2016-01-07 09:34] tompaana opened #34 "Continous task: Native test app improvements"
Since the native test app isn't dependent on the rules of the Thali development process, this issue is sort of a placeholder for commits to the native app development.

[2016-01-08 19:53] yaronyg opened #36 "Investigate what we can do to survive Marshmallow banning knowing our own MAC"
I've written an [article](http://www.goland.org/thalilocalp2psurvivingmarshmallow/) detailing the options we know of. Please start with section 3. I re-wrote the part with details on how to test this out to make it simpler than the email we exchanged and it calls out all the necessary APIs.

[2016-01-11 19:45] yaronyg opened #37 "Figure out what we need to test on Bluetooth limits"
The purpose of this bug is to figure out how many connections, incoming and outgoing, we can handle in Bluetooth. Is this specified to each hardware chip?

[2016-01-13 09:31] vjrantal opened #38 "Lower BLE power already when incoming or outgoing connection is tried to be made"
Currently, the power is lowered when data is being transferred. This seems to have an implication on making the connection working in the first place.

If BLE power is lowered earlier, maybe the connection succeeds with a better rate.

[2016-01-13 18:31] yaronyg commented on #38
This argues that we should think really hard about moving beacons over BLE. Otherwise what will happen is:

Time 0 - A phone has BLE on high power and is visible to a bunch of people and can see a bunch of people
Time 1 - The phone sees someone and wants to get their beacons
Time 2 - The phone lowers its BLE power in preparation for pulling in the beacons, now fewer people can see the phone
Time 3

[2016-01-22 00:48] yaronyg opened #39 "Could we use a Bluetooth PAN on Android?"
https://android.googlesource.com/platform/frameworks/base/+/master/core/java/android/bluetooth/BluetoothPan.java

It isn't clear if the BluetoothPan functionality is available at the API level to unprivileged applications nor is it completely clear if we can run the PAN without having it be bridged to the phones WiFi or Cell connectivity. We just don't know! Arg!

For now this will live in Icebox

[2016-01-22 23:58] yaronyg opened #40 "Would turning off Wi-Fi increase Bluetooth throughput?"
If the Thali app is in the foreground or if there are no apps in the foreground and if Thali can detect that Wi-Fi isn't being used (or that we aren't even connected to a Wi-Fi AP) then we might be able to increase Bluetooth bandwidth anywhere from 10x-30x if we turn off Wi-Fi completely just for the transfer period. We should also turn off BLE. This would give us sole control over the 2.4 GHz ant

[2016-01-23 01:38] yaronyg opened #41 "Should we avoid synching when there is an app in the foreground or wifi is being actively used?"
Using Bluetooth heavily messes with both WiFi and BLE. So it may make sense for us to not use Bluetooth when there is an app in the foreground and/or when we detect that WiFi is being actively used (assuming we can detect that).

[2016-01-25 19:25] yaronyg opened #42 "Can we successfully send long values using BLE?"
Our plan to move discovery to BLE requires that we be able to send values longer than the default MTU of 20 bytes. Android does supportthis but it seems like it's buggy as all get out. Please see [here](https://code.google.com/p/android/issues/detail?id=158619&q=MAC%20bluetooth&colspec=ID%20Status%20Priority%20Owner%20Summary%20Stars%20Reporter%20Opened) for a bug on Android that explains various

[2016-02-01 16:34] #36 closed, assigned to tompaana

[2016-02-10 15:41] tompaana commented on #38
This is already done.

[2016-02-10 15:42] #38 closed, assigned to tompaana

[2016-02-19 06:06] yaronyg opened #46 "Write comprehensive unit tests for Android"
We have no unit testing right now for our BtLibrary code. That is obviously nuts. We need to fix.

[2016-02-26 11:22] yonahforst commented on #36
Hey there. I have a friend who is a PM at Google and knows some people on the Android dev team. I've forwarded him your article to pass on. Hope it helps!

[2016-02-26 16:15] yaronyg commented on #36
@joshblour Thank you! That is awesome. An even better article to send them is http://www.goland.org/fixmarshmallowmac/ where I propose a simple way to allow P2P apps like Thali to function and to achieve the exact same privacy goals as banning the MAC.

[2016-03-04 07:55] tompaana opened #47 "Outgoing connections should be possible even when there is no Bluetooth listener"
`ConnectionManager.connect()` should work even when `ConnectionManager.start()` has not been called and there is no `BluetoothServerSocket` listening for incoming connections.

[2016-03-04 15:44] #47 closed, assigned to tompaana

[2016-03-06 14:28] RoundSparrow opened #49 "Crash with Thread problem BluetoothConnector.java new CountDownTimer"
If I have an Android device ruing the NativeTestApp and I start/stop the App on other devices this crash happens:

thaliproject.p2p.btconnectorlib.internal.bluetooth.BluetoothConnector: connect: Failed to create the connection timeout timer: Can't create handler inside thread that has not called Looper.prepare()
   java.lang.RuntimeException: Can't create handler inside thread that has not called

[2016-03-06 20:39] RoundSparrow commented on #49
I've tested this problem another half-dozen times, and I think it may only happen on Android 4.4 device I have.  I know you guys were limiting your version of the App to newer Android versions... so maybe you didn't run into it.  However, I'm not certain if that's the case - as I'm mostly limited to Nexus 5 devices for Android 6.0.1 that only support WiFi discovery (no hardware support for Bluetoo

[2016-03-06 21:26] RoundSparrow opened #50 "BluePeerDiscoveryUtils.java int8ArrayToBluetoothAddress leading zero problem results in BluetoothManager.java .getRemoteDevice IllegalArgumentException "is not a valid Bluetooth address""
Before the return in the int8ArrayToBluetoothAddress method, try this sanity test:

[code]

My situation is a Bluetooth LE device with 40:88:05 as the starting part of the address. the third byte being less than 16 in value would require padding of a zero.

[2016-03-06 21:35] RoundSparrow commented on #50
This method seems to work better, it pads any MAC address bytes less than 16 with a zero.  Also can eliminate the .toUpperCase() on the return line.

[code]

Well, then it occurred to me that there might be a way to eliminate the loop entirely.  But I'm curious why the method is named "int8Array" when BLUETOOTH_ADDRESS_BYTE_COUNT == 6 in the code?  Is there ever really a situation where 8 bytes co

[2016-03-07 01:05] RoundSparrow commented on #49
I've had good success testing with using the existing mHandler to create the CountDownTimer.  One complexity is that there was one use that immediately started it.  To solve this, I added a boolean param to determine if it should self-start within the Runnable.

Example of changes here: https://github.com/RoundSparrow/Thali_CordovaPlugin_BtLibrary/commit/04d1c791237665a2024d491ca3360763e1112870

[2016-03-07 12:58] RoundSparrow opened #51 "NativeTestApp ListAdapter notifyDataSetChanged crashes"
On devices running Android 5.1 and 6.0 - I'm having random crashes related to threading and notifyDataSetChanged() of the Peer List.  Stress testing the app by stopping and starting multiple peers.

I've had little success so far in tracking down where in the code this is being caused.  I wanted to open an issue in case others wanted to chime in.

[2016-03-07 16:03] yaronyg commented on #50
@RoundSparrow the owner of this is @tompaana and he is heads down on a different assignment through Wednesday, so hopefully he should be able to look at this on Thursday.

[2016-03-07 18:47] RoundSparrow opened #52 "DiscoveryManager.java logic on WiFi onP2pDeviceListChanged ignoring peers"
Regarding source file: [DiscoveryManager.java](../tree/master/BtConnectorLib/btconnectorlib2/src/main/java/org/thaliproject/p2p/btconnectorlib/DiscoveryManager.java)
Method: onP2pDeviceListChanged

I witness that this code's logic is if the already-known peers list returns null - it does nothing.  It does not add the peer into the PeerList as a previously unknown peer.   Is this intentional?

I ha

[2016-03-07 20:36] RoundSparrow opened #53 "BluetoothServerThread.java run() method logic when "Failed to start listening""
I have an Android 5.0 device that this failed to listen, and the thread seems to just endlessly loop failing over and over as fast as possible.

Nothing appears in the LOG tab of the Native Test APP to show the failure.  No messages at all that I can find in the GUI to reflect the failure to listen.

My concern is how the library loops endlessly and doesn't seem to exit.  But for reference, here i

[2016-03-11 12:09] tompaana commented on #50
Many thanks @RoundSparrow! Not only for the interest in the project, but the fix. I'll try to incorporate the fixes to master as soon as possible.

[2016-03-11 12:19] tompaana commented on #49
I think this bug should be fixed in the native test app. The problem occurs only when the app is closing so in my opinion we should make sure auto-connect doesn't happen then.

[2016-03-11 12:24] tompaana commented on #52
This is intentional - we only accept the peers whose service we have discovered. However, the service discovery tends to be slow and unreliable. So onP2pDeviceListChanged just keeps the peers alive. Without it we might lose the peers that we know are still around.

[2016-03-11 12:24] #52 closed, assigned to tompaana

[2016-03-11 13:47] tompaana commented on #51
Did this happen in `PeerListFragment.onDataChanged` or `PeerListFragment.onPeerRemoved`? I wonder if this is due to `notifyDataSetChanged` being called concurrently from different threads.

[2016-03-11 13:56] tompaana commented on #51
There is now a possible fix. Hope you have time to test it at some point.

[2016-03-11 13:56] tompaana commented on #49
There is now a possible fix. Hope you have time to test it at some point.

[2016-03-11 13:57] tompaana commented on #53
Fix pushed to separate branch. Please reopen if you are not happy with the resolution.

[2016-03-11 13:57] #53 closed, assigned to tompaana

[2016-03-11 14:20] #50 closed, assigned to tompaana

[2016-03-11 15:19] #49 closed, assigned to tompaana

[2016-03-14 14:56] #51 closed, assigned to tompaana

[2016-03-14 14:56] yaronyg commented on #51
We aren't seeing this repro anymore so we are closing. Please re-open if the bug returns. Thanks!

[2016-03-14 15:32] RoundSparrow commented on #51
That's fine. I haven't had time to retest.  I wish I could figure out how I was triggering it - as one day I seemed to be able to do it almost on command ;)

[2016-03-18 15:19] tompaana opened #56 "Company ID for manufacturer data needs to be unique"
Since we use manufacturer data as a workaround when a device fails to advertise service data, we need to use a unique company ID which the hardware scanner can filter so that we don't have to do excess filtering in code.

[2016-03-18 15:29] tompaana commented on #56
The list of reserved IDs: https://www.bluetooth.com/specifications/assigned-numbers/company-Identifiers

[2016-03-18 16:08] tompaana commented on #46
Proposed high level priority list:
- ConnectionManager
  - State changes
  - Start/stop
  - What if Bluetooth is off?
  - ConnectionManager.connect()
  - Are all sockets closed in error cases?
  - Are all sockets except for the one with the connection closed when connection is successful?
  - Repeated calls (start/stop/connect) should not cause problems
- DiscoveryManager
  - State changes
  - Sta

[2016-04-27 11:50] czyzm opened #58 "Connection timeout is not stopping BluetoothClientThread connection attempts"
When the connection timeout occurs there is a call to BluetoothClientThread.shutdown() method where mIsShuttingDown flag is set. This flag is checked in the BluetoothClientThread.tryToConnect() method after every connection attempt and when it is set no other attempt is made.
The issue is that both methods (tryToConnect and shutdown) are synchronized which means that if we are trying to connect an

[2016-04-27 12:01] tompaana commented on #58
Removing synchronized keyword from `shutdown` method should be enough, I believe. EDIT: No, `close` shouldn't be synchronized either.

[2016-04-27 12:25] czyzm commented on #58
I suppose two step approach is needed - only setting the mIsShuttingDown flag should be not synchronized. Reseting mListener and calling close() should still be synchronized.

[2016-04-27 12:30] tompaana commented on #58
But: `BluetoothSocket.close` call should not be synchronized when `BluetoothSocket.connect` is, because `connect` call blocks. Maybe only the part where we set listener to null should be synchronized.

[2016-04-27 13:12] tompaana commented on #58
@czyzm: Could you check if my fix above makes sense?

[2016-04-28 05:23] czyzm commented on #58
@tompaana: Change looks ok for me

[2016-04-28 08:13] tompaana commented on #58
@czyzm: That's good and thank you. This was a good find.

[2016-04-29 01:37] #58 closed, assigned to tompaana

[2016-04-29 01:38] #56 closed, assigned to tompaana

[2016-05-04 07:31] czyzm opened #60 "No check whether filtering and scan batching is supported."
When we start discovery or advertisement using DiscoveryManger.start() there is a check done BluetoothAdapter.isMultipleAdvertisementSupported(). However, during operation we are using filters and scan batching and for those we are not checking if they are supported. As result, on devices not supporting those after issuing start() we get immediately call of scan callback informing that feature is

[2016-05-04 15:15] yaronyg commented on #60
The obvious punishment for finding a bug is.... :)

[2016-05-04 17:07] yaronyg opened #61 "Java - Need to make sure that keep alive is set on our sockets"
We need to make sure that the sockets we create have setKeepAlive set to true. We want to manage activity time outs ourselves so we want to make sure that the sockets stay open.

[2016-05-04 17:10] yaronyg opened #62 "Configure Java Socket Options Correctly"
setKeepAlive - this needs to be set to on. This will send a heart beat if no data is going across the connection. If the connection is going to die it should be because we explicitly wanted it to, not because of a lack of activity.

setReceiveBufferSize - We should ideally tune this so that it is at least as big as the kind of MTUs that Bluetooth will use. Note that in Android land the BluetoothSo

[2016-05-04 17:56] #61 closed, assigned to nobody

[2016-05-05 11:38] czyzm opened #63 "DiscoveryManager state may be overridden with old value by other thread"
The DiscoveryManager.updateState() method is called from DiscoveryManager.onBlePeerDiscovererStateChanged() and DiscoveryManager.onWifiPeerDiscovererStateChanged() with current state (mState) as argument as the purpose of those calls is to update the advertising and discovering states, not the DiscoveryManager state. However, the updateState() method is synchronized which may result in situation t

[2016-05-05 18:48] yaronyg commented on #63
Sigh... I knew something like this would happen. The bottom line is that nobody on earth is smart enough to use synchronized. Seriously... it requires having a perfect understanding of all methods and calls everywhere and it's just not possible.

This is a good example. Depending on the vagaries of threading it is trivially easy for calls to be put into unexpected orders and thus give us the wrong

[2016-05-06 11:19] czyzm commented on #63
We need to take into consideration other "state" elements as well. In particular mShouldBeScanning and mShouldBeAdvertising members. Those are used from not synchronized methods (e.g. onBluetoothAdapterScanModeChanged) when calling synchronized start() method. The same issue may happen resulting, e.g. in restarting discovery after it was stopped.

[2016-05-06 15:13] yaronyg commented on #63
That's why we need to get the logic for calculating the state into one location so we can reason about it correctly. Note however that because we are truly asynchronous we will be eventually consistent which means that there will be periods of time when the state we advertise will be wrong. But if all the state notification changes get through then eventually we will have the right state and adver

[2016-05-12 08:24] jareksl opened #64 "The BluetoothServerThread stops running on a socket creation failure even if it shouldn't"
The thread listening to incoming connections via a Bluetooth server socket is stopped when the bluetooth server socket fails to start even if the consecutive creation failure count number is not reached.

The 'mStopThread' variable is set to true always when a exception occurs, but it should be updated when the creation failure count reaches the minimum value.

[2016-05-18 10:12] czyzm commented on #63
The fix is delivered within following pull request:
https://github.com/thaliproject/Thali_CordovaPlugin_BtLibrary/pull/57

[2016-05-18 15:05] yaronyg commented on #63
The general rule we have followed is that once a fix is submitted in a PR (even before the PR is fully accepted) we will close the associated bug. So feel free to close this bug.

[2016-05-19 05:07] #63 closed, assigned to czyzm

[2016-05-24 06:04] jareksl commented on #64
Fixed with #46

[2016-05-24 06:04] #64 closed, assigned to jareksl

[2016-05-24 06:04] #46 closed, assigned to jareksl

[2016-05-30 11:42] #60 closed, assigned to czyzm

[2016-06-01 06:27] czyzm opened #66 "Rework checks for BLE features support"
Currently the checks for BLE features support in DiscoveryManager and BluetoothManager are quite complex. They are not only asking for the support but also storing this information in SharedPreferences so that when Bluetooth is disabled this value may be used for check. Additionally if support cannot be determinated the system assumes feature is supported only if BLE is supported.

We need to reth

[2016-06-03 05:57] czyzm opened #68 "Extend timeout for instrumentation tests"
Since number of instrumentation tests has grown we need to extend the timeout for their execution. Currently it is 300s. Test run takes from 5 to 15 minutes depending on device. Let's set the timeout to 20min = 1200s.

Change to be done in /mobile_test.json

[2016-06-10 08:44] czyzm opened #70 "Instrumentation tests: toggling Bluetooth and WiFi not handling intermediate states"
The toggleBluetooth and toggleWifi methods used in instrumentation tests are not correctly handling intermediate states (turning on and turning off). They are using "isEnabled" method which is OK for turning on but not for turning off because it assumes the media is turned off even if it is still turning off. We should check the state directly.

[2016-06-10 10:02] czyzm opened #71 "The handler for checking scan result is not handling null service uuids."
It is possible that ScanRecord.getServiceUuids() is returning null. Our code is not handling this when parsing the scan result in BlePeerDiscoverer.checkScanResult() method.

[2016-06-10 11:37] czyzm opened #72 "Setting discovery mode has inconsistent support checking"
The DiscoveryManagerSettings.setDiscoveryMode() method is checking for appropriate support when changing the mode. For WIFI it check if WiFi p2p is supported, for BLE it checks if multiple advertisement is supported.

The issue is that this method has no information regarding DiscoveryManager mode - we don't know if we are going to be discovering or advertising or both. If we want to discover we s

[2016-06-10 17:54] yaronyg commented on #70
I vaguely remember even complaining about this. The real question is, can we fix isEnabled?

[2016-06-10 17:56] yaronyg commented on #71
EEEK! The more interesting question is - why are we getting a null result? I wonder if the code we use to sometimes send a device type ID and sometimes send a service UUID is doing something very wrong. OR if we get a device that is transmitting a device type ID and hence not transmitting a service UUID is causing this. We need to understand which because our current hack of falling back from tryi

[2016-06-10 18:01] yaronyg commented on #72
Under the theory of 'do less work' I'm perfectly happy with a situation where BTLibrary fails out if it is on a device that cannot do both discovering and advertising. In theory I realize we could do just one or another but that is actually an optimization.

In other words BTLibrary should pretty much assume that if it is on a device that can't do both discovery and advertisement then it should no

[2016-06-13 04:48] czyzm commented on #68
PR #69 submitted.

[2016-06-13 04:48] #68 closed, assigned to nobody

[2016-06-13 05:07] czyzm commented on #70
I treat it as an issue in the instrumentation tests only. This is because we are turning on/off bluetooth and wifi multiple times in a row and not handling the real states results in tries to, e.g. enable bluetooth while it is still turning off.

Of course, the isEnable() method is also used in production code but it is done in a way that is safe (just to check if we can proceed with some operatio

[2016-06-13 08:29] czyzm commented on #72
Our code right now is splitting those two concepts (discovering and advertising) also in terms of features support. This works well (it is covered pretty well by the tests) so allowing to operate only on devices that support both features would introduce limitation that we can avoid.

I would simply allow setting BLE mode only if BLE is supported but without checking if discovering and advertising

[2016-06-13 08:31] czyzm commented on #72
Let me create PR for that and handle to you.

[2016-06-13 08:46] czyzm commented on #70
Created PR #73

[2016-06-13 08:47] #70 closed, assigned to czyzm

[2016-06-16 05:44] czyzm commented on #71
This issue happened once in CI (for about 15 runs) on one device. However, when I took the device to my desk it happened quite often. After debugging it turned out that the null service uuid was used in broadcasting of bluetooth beacons which are stored in the cabinet next to my desk :).
I assume that the issue could also happen just by chance. Nevertheless, as my beacon case shows, we need to be

[2016-06-17 16:58] yaronyg commented on #72
This seems like a fine solution. Although in practice it means that when an app starts up if it wants to figure out if it can successfully run on the device it will have to actually start discovery and advertising and only then will it learn if there are issues. That seems unfortunate. But let's see if anyone complains. :)

[2016-06-20 10:25] czyzm commented on #71
PR added: #75

[2016-06-20 10:27] czyzm commented on #72
PR added: #74

[2016-06-20 10:27] #72 closed, assigned to czyzm

[2016-06-20 11:21] #71 closed, assigned to czyzm

[2016-06-27 11:47] czyzm opened #76 "Instrumentation tests: checking supported/unsupported features timing issue"
The tests for supported/unsupported features in DiscoveryManagerTest class (testIsBleMultipleAdvertisementSupported, testIsBleMultipleAdvertisementNotSupported, testIsBleOffloadedScanBatchingSupported, testIsBleOffloadedScanBatchingNotSupported, testIsBleOffloadedFilteringSupported, testIsBleOffloadedFilteringNotSupported) are setting the NOT_RESOLVED state in order to perform the check. However,

[2016-06-29 07:46] czyzm commented on #76
PR created: #77

[2016-06-29 07:46] #76 closed, assigned to nobody

[2016-07-11 20:28] yaronyg opened #78 "We need to run code coverage tests on Android"
Just to confuse things some of the Java code actually lives in Thali_CordovaPlugin so we need to do coverage there as well.

[2016-07-12 00:33] #34 closed, assigned to nobody

[2016-07-20 15:19] yaronyg opened #79 "Get native app from btlibrary working successfully"

[2016-07-21 15:13] #79 closed, assigned to evabishchevich

[2016-07-21 15:17] yaronyg opened #80 "Update maven with the latest BTLIB"
Please see readme for notes on how to do this and we need to set up the accounts.

[2016-07-25 10:45] evabishchevich commented on #80
Fixed with #81

[2016-07-25 15:13] #80 closed, assigned to yaronyg

[2016-07-29 14:56] yaronyg opened #82 "BLE Experiments"
We really want to move over to BLE for all token exchange but historically we have had issues with the GATT server randomly failing and we have never tested long strings. So this is our experiments in this area.

Right now we have a basic project with a GATT server and a central and we will next teach it to retrieve characteristics in a tight loop to stress it.

[2016-08-16 21:21] yaronyg opened #84 "Put in support for CALLBACK_TYPE_MATCH_LOST"
In Marshmallow (api 23) a new bluetooth.le callback value CALLBACK_TYPE_MATCH_LOST was added to let the system explicitly communicate when it no longer is receiving advertisements from a device we have previously seen. We need to honor this callback and issue a peerAvailabilityChanged event when it occurs.

Note that it's unclear if implementing this feature is even worth the time. There are lots

[2016-08-23 22:39] #7 closed, assigned to nobody

[2016-08-23 22:40] #18 closed, assigned to tompaana

[2016-08-26 15:53] yaronyg opened #85 "We need to distinguish between Bluetooth crashing and the user disabling Bluetooth"
If the user has disabled Bluetooth we need to just accept that Bluetooth is off and wait for it to turn back on if we are in an advertising mode and start advertising only when it turns back on.

But if Bluetooth crashed then we need to run a heuristic to figure out when it is back and try to work again.

[2016-08-30 17:48] vasilevskayaem opened #86 "Android batching logic"
update peer properties if last update was more than 5 seconds ago

[2016-08-31 15:18] yaronyg commented on #86
Almost done. PR should come soon.

[2016-08-31 22:11] yaronyg commented on #86
@vasilevskayaem I looked at the code and I think the bug description is wrong so it led to us writing the wrong code. I believe the relevant part of the spec is https://github.com/thaliproject/Thali_CordovaPlugin/blob/vNext_yarong_417_812/thali/NextGeneration/thaliMobileNative.js#L534. This is the functionality that wasn't implemented in Android.

[2016-09-07 17:29] yaronyg commented on #41
See thaliproject/Thali_CordovaPlugin#1000 for tests we ran. What they showed is that if BLE is off we do get a small increase in bandwidth on Bluetooth. But turning WiFi on and off didn't seem to affect Bluetooth bandwidth.

[2016-09-08 15:03] larryonoff commented on #86
@vasilevskayaem please work on this issue _IF_ you won't need to work on CI.

[2016-09-13 13:58] evabishchevich opened #88 "Couldn't post runnable to main thread in BluetoothConnector onIncomingConnectionConnected"

[2016-09-13 14:09] evabishchevich commented on #88
Found out the place where our app just stops.
I haven't possibility to check my assumption because tests passed 3 times in a row but they won't pass reliably without fix.
This is my p0 issue for tomorrow

[2016-09-18 22:11] yaronyg commented on #40
As bug thaliproject/Thali_CordovaPlugin#1000 showed, the answer is yes. I'll open a separate bug to follow up.

[2016-09-18 22:11] #40 closed, assigned to nobody

[2016-09-26 22:19] yaronyg commented on #85
@evabishchevich / @vasilevskayaem For our first release I'm fine with us just forcing Bluetooth back on if it turns off unexpectedly. We can get fancy about detecting users turning off Bluetooth later.

[2016-09-26 23:32] yaronyg commented on #23
@evabishchevich / @vasilevskayaem  I've always wondered if this was a problem. Should we handle handshakes serially?

[2016-09-27 14:46] evabishchevich opened #89 "Deploy 0.3.4-alpha version of BtLib to bintray"

[2016-09-27 15:42] #89 closed, assigned to evabishchevich

[2016-10-17 18:22] evabishchevich opened #90 "Fix race condition in BlePeerDiscoverer"

[2016-10-18 14:53] evabishchevich commented on #90
Looks like there is no race condition. I couldn't reproduce the bug from https://drive.google.com/drive/folders/0B3Zint8ZY0O8eFNrWHFRV1IxRVU

[2016-10-18 15:26] yaronyg commented on #90
We can't make this repro so we have to close for now

[2016-10-20 12:49] evabishchevich commented on #90
https://gist.githubusercontent.com/evabishchevich/ec887e0589fe336637bbdf7c83f97efa/raw/498d62a843847b60342fd008508cc8646d196182/gistfile1.txt

[2016-10-20 13:03] evabishchevich commented on #90
s7 - https://gist.github.com/evabishchevich/52a1c2277593c86e5588245b784b7fa9
6p - https://gist.github.com/evabishchevich/52a1c2277593c86e5588245b784b7fa9

[2016-10-20 14:22] evabishchevich commented on #90
There is a deadlock. We have thread X which calls startScannerAndAdvertiser and gets lock on BlePeerDiscoverer object. Inside startScannerAndAdvertiser thread X calls startAdvertiser. In startAdvertiser it calls setAdvertiseData. Inside setAdvertiseData it calls BleAdvertiser.start() and gets the lock on BleAdvertiser object. At the same time we got callback in main thread that advertisment succes

[2016-10-20 16:11] evabishchevich commented on #90
I'm going to provide PR with fix tomorrow morning

[2016-10-21 10:49] evabishchevich commented on #90
Fixed in evabishchevich_90 branch

[2016-10-21 10:49] #90 closed, assigned to evabishchevich

[2016-10-26 16:13] evabishchevich opened #91 "Fix race condition in BleAdvertiser and BlePeerDiscoverer"
See the comment https://github.com/thaliproject/Thali_CordovaPlugin/issues/1413#issuecomment-256375143

[2016-10-27 12:46] evabishchevich opened #92 "Enable BleAdvertiser and BleScanner tests"
I changed how we process system callbacks (onStartSuccess, onScanFailed, etc.). We couldn't emulate Android main thread on desktop. We have to rewrite some tests

[2016-10-27 15:27] #91 closed, assigned to evabishchevich

[2016-10-27 21:23] yaronyg opened #93 "Why doesn't BTLibrary put itself in the right location?"
Due to the issues with bintray I built thali Thali_CordovaPlugin_BtLibrary/BtConnectorLib using './gradlew build install' from the command line. This worked but it put the final output into:

/Users/yarongoland/.m2/repository/org/thaliproject/p2p/btconnectorlib/btconnectorlib2/0.3.4-alpha3/ where the pom and aar file are.

Notice the name. 0.3.4.

Now just to make sure I'm not confused I manually

[2016-10-28 09:04] vasilevskayaem commented on #93
I reloaded lib to bintray, the right location for aar and pom file in bintray is /org/thaliproject/p2p/btconnectorlib/btconnectorlib2/<version name>

so for 0.3.5-alpha3 right directory in bintray is org/thaliproject/p2p/btconnectorlib/btconnectorlib2/0.3.5-alpha3/

if you manually generate it you should change in settings.gradle gradle.ext.version from 0.3.4-alpha3 to 0.3.5-alpha3

[2016-10-28 09:04] #93 closed, assigned to vasilevskayaem, evabishchevich

[2016-11-01 17:48] yaronyg commented on #82
The tests we need are:
1. Can we run and connect to a GATT server reliably. In the past we saw time outs where the Gatt server just 'disappeared' and didn't come back for up to 30 seconds. Is that still happening?
2. How reliable is connecting to the GATT server in general?
3. If we give Android a characteristic with a long value (e.g. 4K in our case) and we change that characteristic's value whil

[2016-11-03 09:30] evabishchevich opened #96 "Analyze socket closing in createSocketAndConnect of the BluetoothClientThread class"
Looks like we should throw exception if we have opened socket at the start of  this method

[2016-11-04 14:52] yaronyg commented on #82
The basic test is to please have the central read a characteristic from the peripheral. The characteristic should be 4K long and the central should confirm that it got the right value. For this test the value should be static. Please run this test in a script in a loop for at least a few minutes. Then put the results of how long it took to connect and pull the data into an array and calculate the

[2016-11-11 15:29] vasilevskayaem commented on #82
I'm afraid that we could not pass 4k in one characteristic reliable. Probably it's android bug probably just restriction of ble, if I try to read characteristic that is more than 512 bytes, I receive back only first 512 bytes. It doesn't depends on MTU value. If MTU set to 512 bytes app received only one bluetoothGattServer.sendResponse with 512 bytes. If I use default MTU app received 28 bluetoot

[2016-11-14 12:11] vasilevskayaem commented on #82
1) the maximum characteristic size is 512, I checked it in specifications. So we can have 8 characteristics for example to keep 4k data.

2) connection in gatt server is quit reliable. Test app run 2 minutes without errors : it starts scanning, connects to first device, reads characteristic (512 bytes), closes connection, starts scanning again and so on. We should very carefully close all not need

[2016-11-14 15:44] yaronyg commented on #82
1. Let's test the latency of creating a Bluetooth connection and the speed of reading 4K
2. Let's compare the battery draw of moving 4K over Bluetooth vs BLE

[2016-11-15 13:54] vasilevskayaem commented on #82
1)I assume that android can't read several characteristic at the same time because in method android.bluetooth.BluetoothGatt#readCharacteristic there is synchronised block. So I've added 8 characteristic and read them one by one.

2) I also found one more interesting detail in https://www.bluetooth.com/specifications/bluetooth-core-specification/technical-considerations , there are Connection Inte

[2016-11-15 14:09] evabishchevich opened #97 "Fix deadlock in BlePeerDiscoverer and DiscoveryManager"
https://gist.github.com/evabishchevich/82d4b3c917e06898dc43f88014f6dfaa

[2016-11-15 16:30] yaronyg commented on #82
We need to understand how BLE behaves under load. So we should do two fan out tests.

Fan Out 1 - In this test we have one central and 3 peripherals and the central is trying to read from the peripherals.

Fan Out 2 - In this test we have one peripheral and 3 centrals and the 3 centrals are trying to read from the one peripheral.

Fan Out 3 - In this test we have 4 devices, everybody is a central

[2016-11-16 10:55] vasilevskayaem commented on #82
Ble discharge rate (scan, connect, move 4k date and repeat) is 3.13%
Bluetooth discharge rate (move 4k date) is 4.51%

Bluetooth read 4k speed is 3-4 ms

Bluetooth create connection speed 223 ms

[2016-11-16 15:53] yaronyg commented on #82
We are seeing problems when we try to connect to multiple BLE peripherals. We see corrupted messages. Operations that don't finish. Etc. We run into this problem if there is one central and many peripherals as well as the inverse. In fact we are even seeing issues where we have just two devices where each is a central and peripheral and each is trying to read characteristics from each other, we wi

[2016-11-16 23:44] yaronyg commented on #97
@evabishchevich Isn't this fixed?

[2016-11-17 00:39] yaronyg commented on #23
@evabishchevich / @vasilevskayaem I've been waiting 2 months for an answer. Can I please get one?

[2016-11-17 13:14] evabishchevich commented on #97
PR thaliproject/Thali_CordovaPlugin_BtLibrary#98

[2016-11-17 13:14] #97 closed, assigned to evabishchevich

[2016-11-18 13:34] vasilevskayaem commented on #88
can't reproduce, probably it was connected with deadlock bug that was fixed some time ago

[2016-11-18 15:28] #62 closed, assigned to vasilevskayaem

[2016-11-21 10:36] evabishchevich commented on #88
@vasilevskayaem Looks right

[2016-11-21 10:37] evabishchevich commented on #88
@yaronyg I close that. The reason should be in our deadlocks

[2016-11-21 10:37] #88 closed, assigned to vasilevskayaem, evabishchevich

[2016-11-23 15:51] yaronyg commented on #82
Samsung has a problem that if we try to connect to one peripheral from multiple central devices we will see that for a short period of time multiple centrals are connected but quickly centrals will start to be disconnected. Apparently only Bluetooth 4.4 supports simultaneous peripheral and central connections on some chips, not all. But we did see two centrals connect simultaneously but after 1 se

[2016-11-23 16:07] larryonoff commented on #23
@evabishchevich / @vasilevskayaem please check the latest @yaronyg comment.

[2016-11-25 15:17] vasilevskayaem commented on #82
today one samsung was not be able create connections at all, after that I thought that probably there is some problems with bluetooth chip. I restarted phone, and I found that phone start works good. I restarted all three phones, and finally I see that two phones can connect to one peripheral (doesn't matter where server and client hosted on peripheral or central). Connection is still unstable, bu

[2016-11-28 10:57] vasilevskayaem commented on #82
It's better to stop scanning while reading or connection. In this case all operation becomes more faster and reliable

[2016-11-28 12:10] vasilevskayaem commented on #82
with stop scan I've get next speed

phone A-central connected to phone B-peripheral and phone B-central connected to phone A-peripheral. Phone A send 4k message to phone B -- average speed 312ms. Phone A send message to B and B send message to A simultaneously -- average speed for 4k transfer is 348ms

[2016-11-28 12:48] vasilevskayaem commented on #82
when 3 phones connected to each other ( 6 central - peripheral connections) and only one phone read data -- average reading time for 4k is 978ms

[2016-11-28 12:54] vasilevskayaem commented on #82
one server and two clients tries read data simultaneously -- average reading time for 4k is 381 ms

one client and two servers, client tries read data from both servers simultaneously -- average reading time for 4k is 498 ms

[2016-11-28 14:54] vasilevskayaem commented on #23
When library starts handshake it's already have bluetooth sockets created. So client just sends massage to server and waits response. A problem here can be only in speed of sending message (because speed when we have several connections become lower), but I don't think we should worry about it in this case because handshakes messages are not long.

[2016-11-28 15:42] yaronyg commented on #82
Test 1 - Run the unit test app, leave it on the phone and then run the BLE native test app

Test 2 - Run the unit test app, shut it down and then run the BLE native test app

[2016-11-28 15:49] yaronyg commented on #82
Please also figure out if there is an Android API that allows us to statically set a characteristic value on our own GATT server opening the possibility of hardware handoff.

[2016-11-29 11:26] vasilevskayaem commented on #82
Test 1: BLE test app doesn't work reliable in this case. It's better shut down scanning and advertising in Unit test app.

Test 2: Ble test app doesn't work reliable, but I didn't see any new test failures in unit test app.

[2016-11-29 11:31] vasilevskayaem commented on #82
It seems to be that we can't statically set a characteristic value on our own GATT server opening the possibility of hardware handoff. https://developer.android.com/reference/android/bluetooth/BluetoothGattServer.html#sendResponse(android.bluetooth.BluetoothDevice, int, int, int, byte[]) Apps must implement this method when somebody tries to read characteristic.

[2016-11-29 16:15] yaronyg commented on #82
So now the key question is - can we use BLE and Bluetooth the way we do in Thali and add in the use of the GATT server? Based on test 2 we aren't sure.

There are two possible problems:
1. That if two different apps both use BLE then bad things happen
2. That is any app ever uses BLE (or maybe Bluetooth) that the phone gets into a bad state so that if any other app (even after the first app stops

[2016-11-30 12:14] vasilevskayaem commented on #82
there was mistake in my code I didn't close all connections when app was restarted and it feels all cache (kill all connection on server and client side). And it seems that all time when I restart my app something stay in cache and app stops work properly. So I fixed it and retest test 1 and 2.

So now I see that  only speed slows down (scanning, create connect, read data), also there is limit on

[2016-11-30 12:14] #82 closed, assigned to vasilevskayaem

[2016-12-01 14:33] vasilevskayaem commented on #82
Tested on Nexus. It works but need some changes in code. Also speed is slower and more reconnections are occurred

[2016-12-22 09:01] evabishchevich opened #101 "Add generation to handshake process"

[2016-12-22 09:29] evabishchevich opened #102 "Fix dependency between ConnectionManager and ConnectionManagerSettings tests"
Right now we have testLoad failed. Looks like it's because of using singletons everywhere

[2016-12-22 09:48] evabishchevich commented on #102
PR #103

[2016-12-22 09:48] #102 closed, assigned to evabishchevich

[2016-12-26 15:27] evabishchevich commented on #101
PR thaliproject/Thali_CordovaPlugin_BtLibrary#104

[2016-12-26 15:27] #101 closed, assigned to evabishchevich

[2017-01-05 16:09] evabishchevich opened #105 "Simplify logic in BluetoothClientThread"

[2017-01-09 10:44] evabishchevich commented on #105
PR thaliproject/Thali_CordovaPlugin_BtLibrary#106

[2017-01-09 10:44] #105 closed, assigned to evabishchevich

[2017-01-24 14:09] evabishchevich opened #108 "Fix "Bluetooth is already created" issue"
There are failed tests in PR https://github.com/thaliproject/Thali_CordovaPlugin/pull/1740. The failure connected with BtLibrary

[2017-01-25 08:57] evabishchevich commented on #108
PR #109

[2017-01-25 08:57] #108 closed, assigned to evabishchevich

[2017-08-17 07:10] lesn1kk opened #110 "Android O: We are not able to get Bluetooth Mac Address"
It looks like current solutions to this problem doesn't seem to resolve with proper Bluetooth Mac Address on Android O due to security policy.
However, it looks like using reflection not on `Android settings` but on `BluetoothManagerService` works just fine.
More details [here](https://github.com/thaliproject/Thali_CordovaPlugin/issues/1956)

[2017-08-18 07:03] lesn1kk opened #112 "Android O: requestUuid is always null"
On Android O we are unable to resolve our own mac address using BRO mode because the Gatt client `requestUuid` is always null and since we use it to compare with expected uuid, the condition will never be fulfilled (see [here](https://github.com/thaliproject/Thali_CordovaPlugin_BtLibrary/blob/master/BtConnectorLib/btconnectorlib2/src/main/java/org/thaliproject/p2p/btconnectorlib/internal/bluetooth

[2017-08-25 07:45] lesn1kk opened #113 "Test BtLibrary on Android Lollipop and Oreo"
After last changes to receiving bluetooth mac address functionality, we need too make sure that it works on devices from Android Lollipop to Oreo.

[2017-08-25 11:21] jareksl commented on #110
fixed with https://github.com/thaliproject/Thali_CordovaPlugin_BtLibrary/pull/111

[2017-08-25 11:21] #110 closed, assigned to nobody

[2017-08-28 12:04] lesn1kk opened #114 "Android L: Instrumented tests fail"
Looks like in SDK 20-22, Field class doesn't contain `accessFlags` field that we use to change access modifiers of field we want to replace using reflection mechanisms. We need to change that or just add a check. In fact, access flags field doesn't have to be changed unless we are dealing with `static final` modifiers, so in the end we should just get rid of it and tests should work on platforms f

[2020-06-04 17:13] Vlvic commented on #40
How can I turn off the BLE on the smartphone without turning off the bluetooth completely?